<%- include("partials/header"); -%>

    <h1>
        <%=title%>
    </h1>
    <p>
        <%=content%>
    </p>
    <button class="btn btn-secondary" name="<%=postId%>">Update</button>

    <button class="btn btn-danger" name="<%=postId%>">delete</button>

    <script>
        update_btn = document.getElementsByTagName('button')[0];
        delete_btn = document.getElementsByTagName('button')[1];
        let del = () => {
            const xhttp = new XMLHttpRequest();
            xhttp.open("DELETE", `/API/V1/delete/${delete_btn.name}`, true);
            xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhttp.send();
            xhttp.onreadystatechange = function () {
                console.log(this.status)
                if (this.readyState == 4 && this.status == 200) {
                    window.location = "/";
                }
            }
        }
        delete_btn.addEventListener("click", del);
        update_btn.addEventListener("click", () => {
            window.location = `/update/${update_btn.name}`;
        });

    </script>

    <%- include("partials/footer"); -%>